.display {
    min-width: 300px;
    min-height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    color: #333;
    font-size: 8rem;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 5px 8px 25px #4141416e;
}